*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #000 !important;
    color: #fff;
}
#about-me{
    text-align: center;
}
.about-me{
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 25px;
}
.profile-image{
    height: 350px;
    width: 350px;
}
#my-hobbies{
    text-align: center;
}
.hobbies{
  height: 100vh;
}
.hobbies {
    list-style-type: lower-roman;
}
.about-me-description{
    text-align:justify;
    font-size: 24px;
    padding: 25px;
    margin-left: 50px;
}
#my-projects{
    text-align: center;
}
.card{
    height: 75vh;
    width: 28em;
    margin: 50px;
    background-color: aquamarine !important;
}
.card-link{
    margin-top: 250px;
}
.project-section{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.footer{
    height: 100vh;
}
#my-contacts{
    text-align: center;
}