*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #000 !important;
    color: #fff;
}
html{
    background-color: #000;
}
#about-me{
    text-align: center;
}
.about-me{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    padding: 25px;
}
.profile-image{
    width: 350px;
}
.about-me-description{
    border: 2px solid black;
    text-align:left;
    font-size: 24px;
    width: 500px;
    padding: 25px;
    margin-left: 500px;
}
/* .hobbies{
    list-style-type:lower-roman;
} */
#my-projects{
    text-align: center;
}
.card{
    width: 28em;
    margin: 50px;
}
.project-section{
    border: 2px solid pink;
    display: flex;
    flex-direction: row;
}